<h1 style="margin-top: 30px">Login</h1>
<form method="POST" action="/auth/login">
  <label>
    Username:
    <input
      type="text"
      name="username"
      placeholder="hacker1"
      style="margin: 5px 20px"
    />
  </label>
  <br />
  <label
    >Password:
    <input
      type="password"
      name="password"
      placeholder="*********"
      required
      style="margin: 5px 23px"
    /><br />
  </label>
  <button
    type="submit"
    style="
      margin: 30px 50px;
      color: white;
      background-color: black;
      border-radius: 20px;
      border-color: black;
      width: 170px;
      height: 35px;
      font-size: medium;
    "
  >
    Login
  </button>
</form>
